<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2>About Us</h2>
        <p>This is a blog about Virat Kohli</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>